

<h4>IBA_Trainee</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="ShowSearchResult">
            
            <div class="form-group">
                <label for="Name" class="control-label">Enter Trainee Name</label>
                <input name="Name" class="form-control" />

            </div>
            <div class="form-group">
                <label for="Role" class="control-label">Enter Trainee Role</label>
                <input name="Role" class="form-control" />
                
            </div>
            
            <div class="form-group">
                <input type="submit" value="Search" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>


